nodered/.flows.json.backup
[
    {
        "id": "c3dcf56cc17855ee",
        "type": "tab",
        "label": "eth price",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a351fcb2a96a202",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c490c598d667e973",
        "type": "http request",
        "z": "c3dcf56cc17855ee",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://min-api.cryptocompare.com/data/price?fsym=ETH&tsyms=USD,EUR,CNY,JPY,GBP%22",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 200,
        "wires": [
            [
                "7f7a0d21980c750c"
            ]
        ]
    },
    {
        "id": "491b49bafe2b97dd",
        "type": "debug",
        "z": "c3dcf56cc17855ee",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 200,
        "wires": []
    },
    {
        "id": "08ea9dfbc79dda68",
        "type": "inject",
        "z": "c3dcf56cc17855ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "c490c598d667e973"
            ]
        ]
    },
    {
        "id": "7f7a0d21980c750c",
        "type": "json",
        "z": "c3dcf56cc17855ee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "2985902440a00de4"
            ]
        ]
    },
    {
        "id": "2985902440a00de4",
        "type": "function",
        "z": "c3dcf56cc17855ee",
        "name": "formatting",
        "func": "\nreturn {payload: {eur: msg.payload.EUR}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 200,
        "wires": [
            [
                "491b49bafe2b97dd",
                "1221db7b55d995d8"
            ]
        ]
    },
    {
        "id": "1221db7b55d995d8",
        "type": "mqtt out",
        "z": "c3dcf56cc17855ee",
        "name": "",
        "topic": "hackathon/kajmmi/rfid/pay",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3a351fcb2a96a202",
        "x": 1100,
        "y": 320,
        "wires": []
    }
]